In [2]:
import pandas as pd
import numpy as np

## Sample Submission

In [5]:
sample_sub = pd.read_csv("./datasets/train_val/sample_submission.csv")

In [6]:
sample_sub.describe()

              ImageId EncodedPixels
count           88486         88486
unique          88486             1
top     9d3cd0de1.jpg           1 2
freq                1         88486

In [10]:
sample_sub[sample_sub["ImageId"] == "9d3cd0de1.jpg"]

             ImageId EncodedPixels
54267  9d3cd0de1.jpg           1 2

In [41]:
# 14 unwanted test images
unwanted_test_images = ['13703f040.jpg',
 '14715c06d.jpg',
 '33e0ff2d5.jpg',
 '4d4e09f2a.jpg',
 '877691df8.jpg',
 '8b909bb20.jpg',
 'a8d99130e.jpg',
 'ad55c3143.jpg',
 'c8260c541.jpg',
 'd6c7f17c7.jpg',
 'dc3e7c901.jpg',
 'e44dffe88.jpg',
 'ef87bad36.jpg',
 'f083256d8.jpg',]

In [43]:
print("Submission ids", len(sample_sub["ImageId"].tolist()))
print("Unwanted", len(unwanted_test_images))

# Check if any unwanted images are in sample submission csv
len(np.setdiff1d(sample_sub['ImageId'].unique(), unwanted_test_images, assume_unique=True))

Submission ids 88486
Unwanted 14

88486

## Actual Submission

In [3]:
sub_blanks = pd.read_csv("./submission_20180817T1649.csv")
sub_blanks.head()

         ImageId                                      EncodedPixels
0  0001124c7.jpg                                                NaN
1  000194a2d.jpg                                                NaN
2  0001b1832.jpg                                                NaN
3  00052ed46.jpg                                                NaN
4  000532683.jpg  569080 1 569846 5 570613 8 571380 10 572148 10...

## Corrected Submission

In [5]:
df = sub_blanks.replace(r'^\s*$', np.nan, regex=True)
df.head()

In [4]:
# df.to_csv("submission_20180817T1649_2.csv", index=False)

## Remove duplicate pixels

In [8]:
corrected_sub = pd.read_csv("./submission_20180817T1649_2.csv")
corrected_sub.describe()

              ImageId                                      EncodedPixels
count          111500                                              43880
unique          88486                                              21940
top     0f4b46f33.jpg  553763 4 554530 6 555297 8 556064 9 556832 10 ...
freq               25                                                  2

In [9]:
corrected_sub.isnull().sum()

ImageId              0
EncodedPixels    67620
dtype: int64

In [12]:
no_na_df = corrected_sub.dropna()

In [13]:
no_na_df.describe()

              ImageId                                      EncodedPixels
count           43880                                              43880
unique          20866                                              21940
top     0f4b46f33.jpg  553763 4 554530 6 555297 8 556064 9 556832 10 ...
freq               25                                                  2

In [14]:
unique_ep = no_na_df.EncodedPixels.unique()

In [15]:
len(unique_ep)

21940

In [16]:
21940 *2

43880