In [1]:
import pandas as pd
import numpy as np

In [5]:
sample_sub = pd.read_csv("./datasets/train_val/sample_submission.csv")

In [6]:
sample_sub.describe()

              ImageId EncodedPixels
count           88486         88486
unique          88486             1
top     9d3cd0de1.jpg           1 2
freq                1         88486

In [10]:
sample_sub[sample_sub["ImageId"] == "9d3cd0de1.jpg"]

             ImageId EncodedPixels
54267  9d3cd0de1.jpg           1 2

In [41]:
# 14 unwanted test images
unwanted_test_images = ['13703f040.jpg',
 '14715c06d.jpg',
 '33e0ff2d5.jpg',
 '4d4e09f2a.jpg',
 '877691df8.jpg',
 '8b909bb20.jpg',
 'a8d99130e.jpg',
 'ad55c3143.jpg',
 'c8260c541.jpg',
 'd6c7f17c7.jpg',
 'dc3e7c901.jpg',
 'e44dffe88.jpg',
 'ef87bad36.jpg',
 'f083256d8.jpg',]

In [43]:
print("Submission ids", len(sample_sub["ImageId"].tolist()))
print("Unwanted", len(unwanted_test_images))

# Check if any unwanted images are in sample submission csv
len(np.setdiff1d(sample_sub['ImageId'].unique(), unwanted_test_images, assume_unique=True))

Submission ids 88486
Unwanted 14

88486